BOT_TOKEN=7997381219:AAEJo_D_fRtwbnxCc6nXK6vLqV-kWOtK3R8
ADMIN_IDS=1203098224
EXCEL_PATH=./КосмоФентези_v4_BeteraPool_complete.xlsx
DB_PATH=./bot.sqlite3
LEAGUE_NAME=КосмоФентези
TIMEZONE=Europe/Amsterdam
LINEUP_DEADLINE_HOUR=18
LINEUP_DEADLINE_MINUTE=0
CURRENT_STAGE=Регулярка
CURRENT_ROUND=1
ALLOW_SELF_SCORING=false
DEFAULT_LINEUP_LIMITS=Вратарь=1,Защитник=2,Нападающий=2
